ul {
  list-style: none;
  padding: 0;
}

app-menu{
  margin: auto;
  margin-top: 70px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.spacer {
  flex: 1 1 auto;
  text-align: center;
}

.all{
  height: 0px;
}
