mat-form-field,
textarea,
.formConfig {
  width: 50%;
  align-content: center;
}

.formTT {
  width: 50%;
  margin: auto;
 }

.send{
  background: #4F93C1;
  height: 50px;
  width: 30%;
  margin-left: 35%;
  border-radius: 3px;
}

.send:hover{
  cursor: pointer;
}

.inputfile {
	width: 0px;
	height: 0px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

div{
  width: 200px;
  margin: auto;
  vertical-align: middle;
}

label{
  width: 100%;
}

.inputfile + label {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    vertical-align: center;
    color: black;
    background-color: #4F93C1;
    display: inline-block;
    border-radius: 3px;
    padding: 5px;
    height:40px;
    margin: auto;
}


.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #0C2340;
    color: #8D9093;
    cursor: pointer;
    content: "cu";
}

